<% if @users %>
    <div>
      <div class="list-group">
        <% @users.each do |user| %>
            <% if user.id == current_user.id %>
                <a href="#" class="list-group-item" data-user-id="<%=user.id%>">
                  <h5 class="list-group-item-heading"><%=best_in_place @user, :name %> <small>-- Me</small></h5>
                  <p class="list-group-item-text"><small>Email: <%=best_in_place @user, :email %></small></p>
                  <p class="list-group-item-text"><small>Phone: <%=best_in_place @user,:phone %></small></p>
                </a>
            <%else%>
                <% if @users_friends.include? user.id %>
                    <a  class="list-group-item">
                      <h5 class="list-group-item-heading"><%= user.name %><small> -- Friend</small></h5>
                      <p class="list-group-item-text"><small>Email: <%= user.email %></small></p>
                      <p class="list-group-item-text"><small>Phone: <%= user.phone %></small></p>
                    </a>
                <% else %>
                    <a  class="list-group-item">
                      <h5 class="list-group-item-heading"><%= user.name %><span class="pull-right">
                        <button data-friend-id="<%= user.id%>" class="btn btn-xs btn-primary addFriend">Add</button></span></h5>
                      <p class="list-group-item-text"><small>Email: <%= user.email %></small></p>
                      <p class="list-group-item-text"><small>Phone: <%= user.phone %></small></p>
                    </a>
                <%end%>
            <% end %>
        <% end %>
      </div>
      <div class="col-md-12">
        <%= will_paginate @users, class:"flickr_pagination"%>
      </div>
    </div>
<% end %>