.container
  .col-md-10.col-md-offset-1
    .col-md-3.text-center
      =image_tag @user.image_url(:thumb).to_s, class:"img-thumbnail text-center"
    .col-md-9
      %legend User Information
      .list-group
        %a.list-group-item{:href => "#"}
          %strong Name:
          %span#info_name= @user.name
        %a.list-group-item{:href => "#"}
          %strong Email:
          %span#info_email= @user.email
        %a.list-group-item{:href => "#"}
          %strong Phone:
          %span#info_phone= @user.phone
        %a.list-group-item{:href => "#"}
          %strong Number of friends:
          %span#info_friendsNum= @users_friends.length
  .col-md-10.col-md-offset-1.text-center
    %button#searchNow.btn.btn-block.btn-info Getting start now!
  .backdrop
  #searchBox
    .close.col-md-12 x
    .col-md-6
      %div
        %legend Search Contacts
        = form_tag users_path, class: "form group", id: "searchForm",:method => 'get' do
          = text_field_tag :search, params[:search], class:"form-control", placeholder:"Search contacts..." , id: "contacts"
      #results
        = render "searchResult"
    .col-md-6
      %legend My friends
      #friends
        = render "friends"